
body {padding-top: 69px;  font-family: 'Marcellus SC', serif; background-color: whiteSmoke;}
legend{color: #ffcc33;}
.white-panel {background-color: white;border: 1px solid #DADADA;padding: 0px;margin-bottom: 40px;color: #333;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);box-shadow: 0 1px 2px rgba(0, 0, 0, .075);}
.white-panel .span12{  padding-left: 10px;padding-right: 10px;}
.end {margin-bottom: 110px;}
.game{background-color: #000;margin-bottom: 20px;border-bottom:1px solid #fff}
header .navbar-inner{padding: 14px 20px;}
footer{box-shadow: inset 0 0 10px #dddddd;}
footer .navbar-inner{min-height: 100px;}
footer img{max-height: 60px;}
.icon-github{background: url(../img/octocat-logo.png); width:  36px;height: 36px;}


#stage{color: white;background-image:url(../img/escenario.jpg);width: 463px;height: 512px; margin: auto;}/*background-image:url(../img/escenario.jpg);*/
.box{width: 16px;height: 16px;float: left; text-align: center;}
.p{position: absolute;left:0;top:0; margin: 9px;}
#Pacman{background: #f3ce13;}
#Blinky{background: #dd0017;}
#Pinky{background:#ea4c89;}
#Inky{background:#9dcc7a;}
#Clyde{background:#ff7700;}
.coin{background: #fcd20b; border-radius: 500px;height: 5px;width: 5px; position: absolute; margin:14px; }





